# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Builds
dist/
.temp/
src/core/css/
src/core/js/
src/core/images/
src/custom/css/
src/custom/js/
src/custom/images/

# Env / secrets
.env
.env.*

# IDE / OS files
.vscode/
.DS_Store
Thumbs.db

# Coverage / misc
coverage/
