# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Builds
dist/
.temp/
src/assets/css/
src/assets/js/
src/assets/images/

# Env / secrets
.env
.env.*

# IDE / OS files
.vscode/
.DS_Store
Thumbs.db

# Coverage / misc
coverage/
