/* ------------------------------
   Animation CSS
------------------------------ */

.animateMe
{
  position: relative;
}

.slideInBottom
{
  visibility: hidden;
}

.slideInRight
{
  visibility: hidden;
}

.slideInTop
{
  visibility: hidden;
}

.slideInLeft
{
  visibility: hidden;
}

.slideOutLeft{}

.slideOutRight{}

.slideOutTop{}

.fadeOut{}

.fadeIn
{
  visibility: hidden;
}