/* Optional helpers */
.parallax-scene {
  position: relative;
  overflow: hidden;
}

.parallax-layer {
  position: absolute;
  top: 0; left: 0;
  /*width: 100%;*/
  /*height: 100%;*/
  will-change: transform;
  transform: translate3d(0,0,0);
  pointer-events: none;
  /* If using IMG instead of bg-image, also set object-fit: cover */
}
