// ------------------------------------------
//  Global Responsive Adjustments
// ------------------------------------------

@include respond-desktop {
  body {
    font-size: 16px;
  }
}

@include respond-tablet {
  body {
    font-size: 15px;
  }
}

@include respond-phone {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.5rem;
  }
}
